In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
import datetime

In [45]:
from datamarket import *

In [3]:
gender = pd.read_csv("2013-2017_School_ELA_Results_-_Ethnic.csv")
gender["Mean Scale Score"] = pd.to_numeric(gender["Mean Scale Score"],errors="coerce")
gender = gender[~np.isnan(gender["Mean Scale Score"])]

In [20]:
fac = pd.read_csv("measure_scale.csv")

In [16]:
fac[["Measure Code", "Q1 Measure Score"]].groupby("Measure Code").max().reset_index().to_csv("measure_scale.csv", index=False)

In [18]:
dc = pd.read_csv("NH_DataCollectionIntervals_Mar2022.csv")

In [27]:
dc["Measure Code"] = pd.to_numeric(dc["Measure Code"],errors="coerce")

In [28]:
join = pd.merge(dc, fac,  how='inner', left_on=["Measure Code"], right_on = ["Measure Code"])

In [30]:
join.to_csv("NH_DataCollectionIntervals_Mar2022.csv")

In [2]:
fac_agg.reset_index().to_csv("covid-cases_2021.csv", index=False)

NameError: name 'fac_agg' is not defined

In [7]:
# list(fac.columns)

In [6]:
fac_agg = fac[["Week Ending", 'Provider State', 'Total Number of Occupied Beds']].groupby(["Week Ending", 'Provider State']).sum()

In [5]:
fac_agg = fac[['Federal Provider Number',
 'Residents Weekly Admissions COVID-19',
 'Residents Weekly Confirmed COVID-19',
 'Residents Weekly All Deaths',
 'Residents Weekly COVID-19 Deaths',
 'Number of All Beds']].groupby('Federal Provider Number').mean()

In [6]:
fac_agg.reset_index().to_csv("faclevel2020.csv", index=False)

In [148]:
# list(fac.columns)
deficiency = pd.read_csv("NH_SurveySummary_Mar2022.csv", encoding='cp1252')

In [5]:
us_covid = pd.read_csv("us_covid19.csv")

In [12]:
us_covid["Week Ending"] = us_covid["date"].apply(lambda x: datetime.datetime.strptime(x, '%Y/%m/%d') .strftime('%m/%d/%y'))
us_covid["Week Ending2"] = us_covid["date"].apply(lambda x: (datetime.datetime.strptime(x, '%Y/%m/%d') + pd.DateOffset(1)).strftime('%m/%d/%y'))
# us_covid.to_csv("us_covid19.csv", index=False)

In [20]:
fac["Week Ending"].iloc[0]

'01/03/21'

In [14]:
join = pd.merge(us_covid, us_covid,  how='inner', left_on=["Week Ending"], right_on = ["Week Ending2"])

In [18]:
join["new_cases"] = join["cases_x"] - join["cases_y"]
join["new_deaths"] = join["deaths_x"] - join["deaths_y"]

In [24]:
join[["Week Ending2_y", "new_cases", "new_deaths", "cases_x", "deaths_x"]].to_csv("us_covid19.csv", index=False)

In [150]:
gender_train_data = agg_dataset()
gender_train_data.load(deficiency, ["Total Number of Health Deficiencies"], ["Federal Provider Number"], "deficiency")
gender_train_data.process_target("Total Number of Health Deficiencies")
gender_train_data.to_numeric_and_impute_all()
gender_train_data.remove_redundant_columns()
gender_train_data.create_count_true()
gender_train_data.compute_agg()

In [130]:
train = fac[["Federal Provider Number", "Residents Total Admissions COVID-19", 'Number of All Beds', 'Total Number of Occupied Beds', 'Residents Total Confirmed COVID-19']]

In [131]:
gender_train_data = agg_dataset()
gender_train_data.load(train, ["Residents Total Admissions COVID-19", 'Number of All Beds', 'Total Number of Occupied Beds', 'Residents Total Confirmed COVID-19'], ["Federal Provider Number"], "fac")
gender_train_data.process_target("Residents Total Admissions COVID-19")
gender_train_data.to_numeric_and_impute_all()
gender_train_data.remove_redundant_columns()
gender_train_data.create_count_true()
gender_train_data.compute_agg()

/home/jupyter/arda/arda-datasets/school/datamarket.py:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data[att] = pd.to_numeric(self.data[att],errors="coerce")
/opt/conda/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4908: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/home/jupyter/arda/arda-datasets/school/datamarket.py:197: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['cov:c'] = 1
/home/jupyter/arda/arda-datasets/school/datamarket.py:201: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['cov:Q:' + tablename + ":" + attributes[i] + ","+ tablename + ":" + attributes[j]] = self.data[attributes[i]] * self.data[attributes[j]]

In [118]:
gender_train_data.data[["Federal Provider Number", "cov:s:fac:Residents Total Admissions COVID-19"]]

,Federal Provider Number,cov:s:fac:Residents Total Admissions COVID-19,cov:s:fac:Number of All Beds,cov:c,"cov:Q:fac:Residents Total Admissions COVID-19,fac:Residents Total Admissions COVID-19","cov:Q:fac:Residents Total Admissions COVID-19,fac:Number of All Beds","cov:Q:fac:Number of All Beds,fac:Number of All Beds"
0,15009,1.0,57.0,1,1.0,57.0,3249.0
1,15009,1.0,57.0,1,1.0,57.0,3249.0
2,15009,3.0,57.0,1,9.0,171.0,3249.0
3,15009,4.0,57.0,1,16.0,228.0,3249.0
4,15009,4.0,57.0,1,16.0,228.0,3249.0
...,...,...,...,...,...,...,...
491140,686124,23.0,203.0,1,529.0,4669.0,41209.0
491141,686124,23.0,203.0,1,529.0,4669.0,41209.0
491142,686124,23.0,203.0,1,529.0,4669.0,41209.0
491143,686124,23.0,203.0,1,529.0,4669.0,41209.0
491144,686124,23.0,203.0,1,529.0,4669.0,41209.0

In [29]:
gender[["Federal Provider Number", "Provider Name", "Provider State", 'Survey Date', 'Deficiency Tag Number']].to_csv("deficiency.csv", index=False)

In [34]:
gender_train = gender[["Federal Provider Number", "Provider Name", "Provider State", 'Survey Date', 'Deficiency Tag Number']]

In [80]:
gender.columns

Index(['Federal Provider Number', 'Provider Name', 'Provider Address',
       'Provider City', 'Provider State', 'Provider Zip Code', 'Survey Date',
       'Survey Type', 'Deficiency Prefix', 'Deficiency Category',
       'Deficiency Tag Number', 'Deficiency Description',
       'Scope Severity Code', 'Deficiency Corrected', 'Correction Date',
       'Inspection Cycle', 'Standard Deficiency', 'Complaint Deficiency',
       'Infection Control Inspection Deficiency', 'Location',
       'Processing Date'],
      dtype='object')

In [84]:
gender

,Federal Provider Number,Provider Name,Provider Address,Provider City,Provider State,Provider Zip Code,Survey Date,Survey Type,Deficiency Prefix,Deficiency Category,...,Deficiency Description,Scope Severity Code,Deficiency Corrected,Correction Date,Inspection Cycle,Standard Deficiency,Complaint Deficiency,Infection Control Inspection Deficiency,Location,Processing Date
0,015009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2019-08-21,Health,F,Resident Rights Deficiencies,...,Allow residents to self-administer drugs if de...,D,"Deficient, Provider has date of correction",2019-09-16,1,Y,N,N,"701 MONROE STREET NW,RUSSELLVILLE,AL,35653",2022-03-01
1,015009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2019-08-21,Health,F,Infection Control Deficiencies,...,Provide and implement an infection prevention ...,D,"Deficient, Provider has date of correction",2019-09-16,1,Y,N,N,"701 MONROE STREET NW,RUSSELLVILLE,AL,35653",2022-03-01
2,015009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2018-08-01,Health,F,Infection Control Deficiencies,...,Provide and implement an infection prevention ...,D,"Deficient, Provider has date of correction",2018-09-05,2,Y,N,N,"701 MONROE STREET NW,RUSSELLVILLE,AL,35653",2022-03-01
3,015010,COOSA VALLEY HEALTHCARE CENTER,260 WEST WALNUT STREET,SYLACAUGA,AL,35150,2019-06-13,Health,F,Infection Control Deficiencies,...,Provide and implement an infection prevention ...,D,"Deficient, Provider has date of correction",2019-07-17,1,Y,N,N,"260 WEST WALNUT STREET,SYLACAUGA,AL,35150",2022-03-01
4,015010,COOSA VALLEY HEALTHCARE CENTER,260 WEST WALNUT STREET,SYLACAUGA,AL,35150,2018-06-07,Health,F,Resident Assessment and Care Planning Deficien...,...,Develop and implement a complete care plan tha...,D,"Deficient, Provider has date of correction",2018-07-12,2,Y,N,N,"260 WEST WALNUT STREET,SYLACAUGA,AL,35150",2022-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372921,686124,HARMONY HEALTH CENTER,9820 N KENDALL DRIVE,MIAMI,FL,33176,2019-05-17,Health,F,Quality of Life and Care Deficiencies,...,Provide appropriate care for a resident to mai...,D,"Deficient, Provider has date of correction",2019-06-07,2,Y,N,N,"9820 N KENDALL DRIVE,MIAMI,FL,33176",2022-03-01
372922,745002,KENT COUNTY NURSING HOME,1443 NORTH MAIN,JAYTON,TX,79528,2021-02-04,Health,F,Resident Rights Deficiencies,...,Honor the resident's right to a dignified exis...,E,"Deficient, Provider has date of correction",2021-03-15,1,Y,N,N,"1443 NORTH MAIN,JAYTON,TX,79528",2022-03-01
372923,745002,KENT COUNTY NURSING HOME,1443 NORTH MAIN,JAYTON,TX,79528,2021-02-04,Health,F,Quality of Life and Care Deficiencies,...,Provide appropriate treatment and care accordi...,D,"Deficient, Provider has date of correction",2021-03-15,1,Y,N,N,"1443 NORTH MAIN,JAYTON,TX,79528",2022-03-01
372924,745002,KENT COUNTY NURSING HOME,1443 NORTH MAIN,JAYTON,TX,79528,2021-02-04,Health,F,Nutrition and Dietary Deficiencies,...,Procure food from sources approved or consider...,F,"Deficient, Provider has date of correction",2021-03-15,1,Y,N,N,"1443 NORTH MAIN,JAYTON,TX,79528",2022-03-01
372925,745002,KENT COUNTY NURSING HOME,1443 NORTH MAIN,JAYTON,TX,79528,2021-02-04,Health,F,Infection Control Deficiencies,...,Provide and implement an infection prevention ...,E,"Deficient, Provider has date of correction",2021-03-10,1,Y,N,N,"1443 NORTH MAIN,JAYTON,TX,79528",2022-03-01

In [37]:
provider = pd.read_csv("NH_ProviderInfo_Mar2022.csv",  encoding='cp1252')

In [39]:
provider.columns

Index(['Federal Provider Number', 'Provider Name', 'Provider Address',
       'Provider City', 'Provider State', 'Provider Zip Code',
       'Provider Phone Number', 'Provider SSA County Code',
       'Provider County Name', 'Ownership Type', 'Number of Certified Beds',
       'Average Number of Residents per Day',
       'Average Number of Residents per Day Footnote', 'Provider Type',
       'Provider Resides in Hospital', 'Legal Business Name',
       'Date First Approved to Provide Medicare and Medicaid Services',
       'Continuing Care Retirement Community', 'Special Focus Status',
       'Abuse Icon', 'Most Recent Health Inspection More Than 2 Years Ago',
       'Provider Changed Ownership in Last 12 Months',
       'With a Resident and Family Council',
       'Automatic Sprinkler Systems in All Required Areas', 'Overall Rating',
       'Overall Rating Footnote', 'Health Inspection Rating',
       'Health Inspection Rating Footnote', 'QM Rating', 'QM Rating Footnote',
       'Long-Stay QM Rating', 'Long-Stay QM Rating Footnote',
       'Short-Stay QM Rating', 'Short-Stay QM Rating Footnote',
       'Staffing Rating', 'Staffing Rating Footnote', 'RN Staffing Rating',
       'RN Staffing Rating Footnote', 'Reported Staffing Footnote',
       'Physical Therapist Staffing Footnote',
       'Reported Nurse Aide Staffing Hours per Resident per Day',
       'Reported LPN Staffing Hours per Resident per Day',
       'Reported RN Staffing Hours per Resident per Day',
       'Reported Licensed Staffing Hours per Resident per Day',
       'Reported Total Nurse Staffing Hours per Resident per Day',
       'Total number of nurse staff hours per resident per day on the weekend',
       'Registered Nurse hours per resident per day on the weekend',
       'Reported Physical Therapist Staffing Hours per Resident Per Day',
       'Total nursing staff turnover', 'Total nursing staff turnover footnote',
       'Registered Nurse turnover', 'Registered Nurse turnover footnote',
       'Number of administrators who have left the nursing home',
       'Administrator turnover footnote',
       'Case-Mix Nurse Aide Staffing Hours per Resident per Day',
       'Case-Mix LPN Staffing Hours per Resident per Day',
       'Case-Mix RN Staffing Hours per Resident per Day',
       'Case-Mix Total Nurse Staffing Hours per Resident per Day',
       'Adjusted Nurse Aide Staffing Hours per Resident per Day',
       'Adjusted LPN Staffing Hours per Resident per Day',
       'Adjusted RN Staffing Hours per Resident per Day',
       'Adjusted Total Nurse Staffing Hours per Resident per Day',
       'Rating Cycle 1 Standard Survey Health Date',
       'Rating Cycle 1 Total Number of Health Deficiencies',
       'Rating Cycle 1 Number of Standard Health Deficiencies',
       'Rating Cycle 1 Number of Complaint Health Deficiencies',
       'Rating Cycle 1 Health Deficiency Score',
       'Rating Cycle 1 Number of Health Revisits',
       'Rating Cycle 1 Health Revisit Score',
       'Rating Cycle 1 Total Health Score',
       'Rating Cycle 2 Standard Health Survey Date',
       'Rating Cycle 2 Total Number of Health Deficiencies',
       'Rating Cycle 2 Number of Standard Health Deficiencies',
       'Rating Cycle 2 Number of Complaint Health Deficiencies',
       'Rating Cycle 2 Health Deficiency Score',
       'Rating Cycle 2 Number of Health Revisits',
       'Rating Cycle 2 Health Revisit Score',
       'Rating Cycle 2 Total Health Score',
       'Rating Cycle 3 Standard Health Survey Date',
       'Rating Cycle 3 Total Number of Health Deficiencies',
       'Rating Cycle 3 Number of Standard Health Deficiencies',
       'Rating Cycle 3 Number of Complaint Health Deficiencies',
       'Rating Cycle 3 Health Deficiency Score',
       'Rating Cycle 3 Number of Health Revisits',
       'Rating Cycle 3 Health Revisit Score',
       'Rating Cycle 3 Total Health Score',
       'Total Weighted Health Survey Score',
       'Number of Facility Reported Incidents',
       'Number of Substantiated Complaints',
       'Number of Citations from Infection Control Inspections',
       'Number of Fines', 'Total Amount of Fines in Dollars',
       'Number of Payment Denials', 'Total Number of Penalties', 'Location',
       'Processing Date'],
      dtype='object')

In [42]:
provider[["Federal Provider Number", 'Number of Certified Beds', 'Average Number of Residents per Day', 'Rating Cycle 3 Number of Health Revisits']]

,Federal Provider Number,Number of Certified Beds,Average Number of Residents per Day,Rating Cycle 3 Number of Health Revisits
0,015009,57,53.2,0
1,015010,85,79.8,1
2,015012,50,39.9,1
3,015014,92,69.4,1
4,015015,103,72.4,1
...,...,...,...,...
15211,686123,150,145.8,.
15212,686124,203,178.5,.
15213,745000,130,NaN,.
15214,745001,112,NaN,.
15215,745002,60,NaN,.

In [48]:
provider = pd.read_csv("NH_ProviderInfo_Mar2022.csv",  encoding='cp1252')
providerdata = agg_dataset()
providerdata.load(provider, [], ["Federal Provider Number"], "provider")
providerdata.find_features()
providerdata.remove_redundant_columns()
providerdata.create_count_true()
providerdata.compute_agg(True)

/home/jupyter/arda/arda-datasets/school/datamarket.py:201: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.data['cov:Q:' + tablename + ":" + attributes[i] + ","+ tablename + ":" + attributes[j]] = self.data[attributes[i]] * self.data[attributes[j]]

In [66]:
providerdata.X

['provider:Provider Zip Code',
 'provider:Provider Phone Number',
 'provider:Provider SSA County Code',
 'provider:Number of Certified Beds',
 'provider:Average Number of Residents per Day',
 'provider:Overall Rating',
 'provider:Health Inspection Rating',
 'provider:QM Rating',
 'provider:Long-Stay QM Rating',
 'provider:Short-Stay QM Rating',
 'provider:Staffing Rating',
 'provider:RN Staffing Rating',
 'provider:Reported Nurse Aide Staffing Hours per Resident per Day',
 'provider:Reported LPN Staffing Hours per Resident per Day',
 'provider:Reported RN Staffing Hours per Resident per Day',
 'provider:Reported Licensed Staffing Hours per Resident per Day',
 'provider:Reported Total Nurse Staffing Hours per Resident per Day',
 'provider:Total number of nurse staff hours per resident per day on the weekend',
 'provider:Registered Nurse hours per resident per day on the weekend',
 'provider:Reported Physical Therapist Staffing Hours per Resident Per Day',
 'provider:Total nursing staff turnover',
 'provider:Registered Nurse turnover',
 'provider:Number of administrators who have left the nursing home',
 'provider:Case-Mix Nurse Aide Staffing Hours per Resident per Day',
 'provider:Case-Mix LPN Staffing Hours per Resident per Day',
 'provider:Case-Mix RN Staffing Hours per Resident per Day',
 'provider:Case-Mix Total Nurse Staffing Hours per Resident per Day',
 'provider:Adjusted Nurse Aide Staffing Hours per Resident per Day',
 'provider:Adjusted LPN Staffing Hours per Resident per Day',
 'provider:Adjusted RN Staffing Hours per Resident per Day',
 'provider:Adjusted Total Nurse Staffing Hours per Resident per Day',
 'provider:Rating Cycle 1 Total Number of Health Deficiencies',
 'provider:Rating Cycle 1 Number of Standard Health Deficiencies',
 'provider:Rating Cycle 1 Number of Complaint Health Deficiencies',
 'provider:Rating Cycle 1 Health Deficiency Score',
 'provider:Rating Cycle 1 Number of Health Revisits',
 'provider:Rating Cycle 1 Health Revisit Score',
 'provider:Rating Cycle 1 Total Health Score',
 'provider:Rating Cycle 2 Total Number of Health Deficiencies',
 'provider:Rating Cycle 2 Number of Standard Health Deficiencies',
 'provider:Rating Cycle 2 Number of Complaint Health Deficiencies',
 'provider:Rating Cycle 2 Health Deficiency Score',
 'provider:Rating Cycle 2 Number of Health Revisits',
 'provider:Rating Cycle 2 Health Revisit Score',
 'provider:Rating Cycle 2 Total Health Score',
 'provider:Rating Cycle 3 Total Number of Health Deficiencies',
 'provider:Rating Cycle 3 Number of Standard Health Deficiencies',
 'provider:Rating Cycle 3 Number of Complaint Health Deficiencies',
 'provider:Rating Cycle 3 Health Deficiency Score',
 'provider:Rating Cycle 3 Number of Health Revisits',
 'provider:Rating Cycle 3 Health Revisit Score',
 'provider:Rating Cycle 3 Total Health Score',
 'provider:Total Weighted Health Survey Score',
 'provider:Number of Facility Reported Incidents',
 'provider:Number of Substantiated Complaints',
 'provider:Number of Citations from Infection Control Inspections',
 'provider:Number of Fines',
 'provider:Total Amount of Fines in Dollars',
 'provider:Number of Payment Denials',
 'provider:Total Number of Penalties']

In [133]:
gender_train_data.data

,Federal Provider Number,cov:s:fac:Residents Total Admissions COVID-19,cov:s:fac:Number of All Beds,cov:s:fac:Total Number of Occupied Beds,cov:s:fac:Residents Total Confirmed COVID-19,cov:c,"cov:Q:fac:Residents Total Admissions COVID-19,fac:Residents Total Admissions COVID-19","cov:Q:fac:Residents Total Admissions COVID-19,fac:Number of All Beds","cov:Q:fac:Residents Total Admissions COVID-19,fac:Total Number of Occupied Beds","cov:Q:fac:Residents Total Admissions COVID-19,fac:Residents Total Confirmed COVID-19","cov:Q:fac:Number of All Beds,fac:Number of All Beds","cov:Q:fac:Number of All Beds,fac:Total Number of Occupied Beds","cov:Q:fac:Number of All Beds,fac:Residents Total Confirmed COVID-19","cov:Q:fac:Total Number of Occupied Beds,fac:Total Number of Occupied Beds","cov:Q:fac:Total Number of Occupied Beds,fac:Residents Total Confirmed COVID-19","cov:Q:fac:Residents Total Confirmed COVID-19,fac:Residents Total Confirmed COVID-19"
0,15009,1.0,57.0,45.0,45.0,1,1.0,57.0,45.0,45.0,3249.0,2565.0,2565.0,2025.0,2025.0,2025.0
1,15009,1.0,57.0,42.0,45.0,1,1.0,57.0,42.0,45.0,3249.0,2394.0,2565.0,1764.0,1890.0,2025.0
2,15009,3.0,57.0,43.0,45.0,1,9.0,171.0,129.0,135.0,3249.0,2451.0,2565.0,1849.0,1935.0,2025.0
3,15009,4.0,57.0,43.0,45.0,1,16.0,228.0,172.0,180.0,3249.0,2451.0,2565.0,1849.0,1935.0,2025.0
4,15009,4.0,57.0,45.0,45.0,1,16.0,228.0,180.0,180.0,3249.0,2565.0,2565.0,2025.0,2025.0,2025.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491140,686124,23.0,203.0,186.0,21.0,1,529.0,4669.0,4278.0,483.0,41209.0,37758.0,4263.0,34596.0,3906.0,441.0
491141,686124,23.0,203.0,178.0,24.0,1,529.0,4669.0,4094.0,552.0,41209.0,36134.0,4872.0,31684.0,4272.0,576.0
491142,686124,23.0,203.0,183.0,24.0,1,529.0,4669.0,4209.0,552.0,41209.0,37149.0,4872.0,33489.0,4392.0,576.0
491143,686124,23.0,203.0,188.0,24.0,1,529.0,4669.0,4324.0,552.0,41209.0,38164.0,4872.0,35344.0,4512.0,576.0
491144,686124,23.0,203.0,182.0,25.0,1,529.0,4669.0,4186.0,575.0,41209.0,36946.0,5075.0,33124.0,4550.0,625.0

In [152]:
join = pd.merge(gender_train_data.data[["Federal Provider Number", "cov:s:deficiency:Total Number of Health Deficiencies"]], providerdata.data[['Federal Provider Number'] + ['cov:s:' + x for x in providerdata.X]],  how='inner', left_on=["Federal Provider Number"], right_on = ["Federal Provider Number"])

In [153]:
y = join["cov:s:deficiency:Total Number of Health Deficiencies"]
X = join[['cov:s:' + x for x in providerdata.X]]

In [154]:
reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.6385982224232987

In [5]:
(gender["Mean Scale Score"]*gender["Mean Scale Score"]).sum()

4768136851.0

In [391]:
esl = pd.read_csv("esl.csv")
esl["Mean Scale Score"] = pd.to_numeric(esl["Mean Scale Score"],errors="coerce")
esl = esl[~np.isnan(esl["Mean Scale Score"])]
esl[["DBN","Grade", "Mean Scale Score"]].groupby(["DBN","Grade"]).mean()

                   Mean Scale Score
DBN    Grade
01M015 3                 645.833333
       4                 641.000000
       5                 645.833333
       6                 639.000000
       All Grades        654.000000
...                             ...
75X723 5                 606.500000
       6                 602.500000
       7                 597.166667
       8                 576.166667
       All Grades        621.000000

[5056 rows x 1 columns]

In [442]:
sum(~np.isnan(pd.read_csv("esl.csv")["Mean Scale Score"]))

22711

In [399]:
spy = pd.read_csv("spy1year.csv")
spy.columns

Index(['Year ', 'Average Closing Price ', 'Year Open ', 'Year High ',
       'Year Low ', 'Year Close ', 'Annual % Change'],
      dtype='object')

In [401]:
join

,Year,Average Closing Price,Year Open,Year High,Year Low,Year Close,Annual % Change,DBN,Grade,Mean Scale Score_x,...,Level1_N,Level1_%,Level2_N,Level2_%,Level3_N,Level3_%,Level4_N,Level4_%,Level3+4_N,Level3+4_%
0,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,3,645.833333,...,4,30.8,4,30.8,3,23.1,2,15.4,5,38.5
1,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,3,645.833333,...,6,42.9,4,28.6,4,28.6,0,0.0,4,28.6
2,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,4,641.000000,...,0,0.0,8,57.1,6,42.9,0,0.0,6,42.9
3,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,4,641.000000,...,1,11.1,4,44.4,3,33.3,1,11.1,4,44.4
4,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,5,645.833333,...,1,16.7,3,50.0,2,33.3,0,0.0,2,33.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43892,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,7,662.833333,...,2,7.7,10,38.5,13,50.0,1,3.8,14,53.8
43893,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,8,655.000000,...,1,6.3,3,18.8,9,56.3,3,18.8,12,75.0
43894,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,8,655.000000,...,3,15.8,9,47.4,4,21.1,3,15.8,7,36.8
43895,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,All Grades,667.000000,...,3,3.3,40,44.4,36,40.0,11,12.2,47,52.2
43896,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,All Grades,667.000000,...,8,12.3,27,41.5,24,36.9,6,9.2,30,46.2

In [392]:
join = pd.merge(esl[["DBN","Grade", "Mean Scale Score"]].groupby(["DBN","Grade"]).mean(), gender,  how='inner', left_on=['DBN','Grade'], right_on = ['DBN','Grade'])

In [400]:
join = pd.merge(spy, join,  how='inner', left_on=['Year '], right_on = ['Year'])

In [363]:
esl["Grade"].unique()

array(['3', '4', '5', '6', 'All Grades', '7', '8'], dtype=object)

In [364]:
gender["Grade"].unique()

array(['3', '4', '5', 'All Grades', '6', '7', '8'], dtype=object)

In [365]:
esl = esl[esl["Mean Scale Score"].notna()]

In [21]:
esl[["DBN","Grade","Year","Mean Scale Score","Level 1 %","Level 2 %","Level 3 %","Level 4 %"]]

,DBN,Grade,Year,Mean Scale Score,Level 1 %,Level 2 %,Level 3 %,Level 4 %
0,01M015,3,2006,651.0,10.8,37.8,51.4,0.0
1,01M015,4,2006,621.0,39.1,43.5,15.2,2.2
2,01M015,5,2006,625.0,28.6,46.4,25.0,0.0
3,01M015,6,2006,639.0,5.6,50.0,41.7,2.8
5,01M015,3,2007,635.0,18.2,54.5,27.3,0.0
...,...,...,...,...,...,...,...,...
28460,75X723,5,2011,634.0,72.7,23.6,3.6,0.0
28461,75X723,6,2011,623.0,81.5,18.5,0.0,0.0
28462,75X723,7,2011,613.0,75.0,25.0,0.0,0.0
28463,75X723,8,2011,587.0,84.4,15.6,0.0,0.0
28464,75X723,All Grades,2011,621.0,75.7,20.4,4.0,0.0

In [200]:
len(esl["DBN"].unique())

1127

In [190]:
# esl["logy"] = np.log(esl["Mean Scale Score"])
esl["sqy"] = np.square(esl["Mean Scale Score"])
esl["sq1"] = np.square(esl["Level 1 %"])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [198]:
schoolsurvey = pd.read_csv("2013_NYC_School_Survey.csv")

In [208]:
schoolsurvey[["DBN", 'Total Teacher Response Rate (%)', 'Total Parent Response Rate (%)', 'Total Academic Expectations Score', 'Total Communication Score','Total Engagement Score', 'Total Safety and Respect Score']]

,DBN,Total Teacher Response Rate (%),Total Parent Response Rate (%),Total Academic Expectations Score,Total Communication Score,Total Engagement Score,Total Safety and Respect Score
0,01M015,100,66,8.3,8.3,8.1,8.4
1,01M019,97,96,8.7,8.8,8.5,8.6
2,01M020,79,71,7.9,7.6,7.7,8.1
3,01M034,88,40,8.1,8.1,7.7,7.5
4,01M063,100,70,8.0,7.7,7.4,8.2
...,...,...,...,...,...,...,...
1769,84X705,90,99,9.0,9.1,8.8,9.0
1770,84X706,73,92,8.6,8.6,8.2,8.4
1771,84X717,100,77,8.9,9.0,8.5,8.5
1772,84X718,100,66,8.3,8.5,8.1,8.6
1773,84X730,58,37,7.8,7.6,7.5,8.2

In [280]:
tsratio = pd.read_csv("s2tr.csv")

In [297]:
spy = pd.read_csv("spy1year.csv")
spy

,Year,Average Closing Price,Year Open,Year High,Year Low,Year Close,Annual % Change
0,2015,2061.07,2058.20,2130.82,1867.61,2043.94,-0.73%
1,2014,1931.38,1831.98,2090.57,1741.89,2058.90,11.39%
2,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%
3,2012,1379.61,1277.06,1465.77,1277.06,1426.19,13.41%
4,2011,1267.64,1271.87,1363.61,1099.23,1257.60,0.00%
5,2010,1139.97,1132.99,1259.78,1022.58,1257.64,12.78%
6,2009,948.05,931.80,1127.78,676.53,1115.10,23.45%
7,2008,1220.04,1447.16,1447.16,752.44,903.25,-38.49%
8,2007,1477.18,1416.60,1565.15,1374.12,1468.36,3.53%
9,2006,1310.46,1268.80,1427.09,1223.69,1418.30,13.62%
10,2005,1207.23,1202.08,1272.74,1137.50,1248.29,3.00%
11,2004,1130.65,1108.48,1213.55,1063.23,1211.92,8.99%

In [338]:
crime = pd.read_csv("crime.csv")
crime

,ID,Building Code,DBN,Location Name,Location Code,Address,Borough,Geographical District Code,Register,Building Name,...,AvgOfOth N,AvgOfNoCrim N,AvgOfProp N,AvgOfVio N,New Georeferenced Column,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,288,K247,20K247,PS 247(BROOKLYN),K247,7000 21st AVENUE,K,20,883,NaN,...,1.52,3.88,0.83,0.91,POINT (-76.974907 38.974981),10889,NaN,NaN,NaN,NaN
1,335,K281,21K281,IS 281(BS),K281,8787 24th AVENUE,K,21,1342,NaN,...,2.79,6.71,1.48,1.47,POINT (-104.885878 39.751528),20975,NaN,NaN,NaN,NaN
2,359,K298,23K298,PS 298(BROOKLYN),K298,85 WATKINS STREET,K,23,205,NaN,...,0.88,1.69,0.57,0.45,POINT (-73.908193 40.670936),17614,55.0,2.0,37.0,46.0
3,390,K318,14K318,JHS 318(BN),K318,101 WALTON STREET,K,14,1230,NaN,...,2.55,6.10,1.29,1.48,POINT (-79.670906 34.623679),27087,NaN,NaN,NaN,NaN
4,400,K327,23K327,PS 327(BROOKLYN),K327,111 BRISTOL STREET,K,23,299,NaN,...,1.03,2.22,0.55,0.58,POINT (-72.931594 41.315558),13460,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,1766,X174,NaN,456 WHITE PLAINS ROAD CONSOLIDATED LOCATION,NaN,456 WHITE PLAINS ROAD,X,8,1077,456 WHITE PLAINS ROAD CONSOLIDATED LOCATION,...,2.55,6.10,1.29,1.48,POINT (-81.729256 35.006166),23236,NaN,NaN,NaN,NaN
1915,1723,X149,07X221,SOUTH BRONX PREPARATORY:A COLLEGE BOARD SCHOOL...,X221,360 EAST 145 STREET,X,7,578,360 EAST 145 STREET CONSOLIDATED LOCATION,...,NaN,NaN,NaN,NaN,POINT (-73.232997 42.311995),12142,NaN,NaN,NaN,NaN
1916,1632,X100,08X100,PS 100(XE),X100,800 TAYLOR AVENUE,X,8,563,NaN,...,1.13,2.41,0.66,0.57,POINT (-73.863098 40.821837),11611,58.0,5.0,31.0,26.0
1917,1499,X002,NaN,1363 FULTON AVENUE CONSOLIDATED LOCATION,NaN,1363 FULTON AVENUE,X,9,688,1363 FULTON AVENUE CONSOLIDATED LOCATION,...,1.13,2.41,0.66,0.57,POINT (-73.902403 40.833741),10934,34.0,5.0,42.0,25.0
1918,1364,Q490,NaN,207-01 116 AVENUE CONSOLIDATED LOCATION,NaN,207-01 116 AVENUE,Q,29,1319,207-01 116 AVENUE CONSOLIDATED LOCATION,...,2.79,6.71,1.48,1.47,POINT (-73.745876 40.697771),15311,63.0,3.0,6.0,63.0

In [343]:
crime["Register"] = pd.to_numeric(crime["Register"],errors="coerce")

In [344]:
crime

,ID,Building Code,DBN,Location Name,Location Code,Address,Borough,Geographical District Code,Register,Building Name,...,AvgOfOth N,AvgOfNoCrim N,AvgOfProp N,AvgOfVio N,New Georeferenced Column,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,288,K247,20K247,PS 247(BROOKLYN),K247,7000 21st AVENUE,K,20,883.0,NaN,...,1.52,3.88,0.83,0.91,POINT (-76.974907 38.974981),10889,NaN,NaN,NaN,NaN
1,335,K281,21K281,IS 281(BS),K281,8787 24th AVENUE,K,21,1342.0,NaN,...,2.79,6.71,1.48,1.47,POINT (-104.885878 39.751528),20975,NaN,NaN,NaN,NaN
2,359,K298,23K298,PS 298(BROOKLYN),K298,85 WATKINS STREET,K,23,205.0,NaN,...,0.88,1.69,0.57,0.45,POINT (-73.908193 40.670936),17614,55.0,2.0,37.0,46.0
3,390,K318,14K318,JHS 318(BN),K318,101 WALTON STREET,K,14,1230.0,NaN,...,2.55,6.10,1.29,1.48,POINT (-79.670906 34.623679),27087,NaN,NaN,NaN,NaN
4,400,K327,23K327,PS 327(BROOKLYN),K327,111 BRISTOL STREET,K,23,299.0,NaN,...,1.03,2.22,0.55,0.58,POINT (-72.931594 41.315558),13460,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,1766,X174,NaN,456 WHITE PLAINS ROAD CONSOLIDATED LOCATION,NaN,456 WHITE PLAINS ROAD,X,8,1077.0,456 WHITE PLAINS ROAD CONSOLIDATED LOCATION,...,2.55,6.10,1.29,1.48,POINT (-81.729256 35.006166),23236,NaN,NaN,NaN,NaN
1915,1723,X149,07X221,SOUTH BRONX PREPARATORY:A COLLEGE BOARD SCHOOL...,X221,360 EAST 145 STREET,X,7,578.0,360 EAST 145 STREET CONSOLIDATED LOCATION,...,NaN,NaN,NaN,NaN,POINT (-73.232997 42.311995),12142,NaN,NaN,NaN,NaN
1916,1632,X100,08X100,PS 100(XE),X100,800 TAYLOR AVENUE,X,8,563.0,NaN,...,1.13,2.41,0.66,0.57,POINT (-73.863098 40.821837),11611,58.0,5.0,31.0,26.0
1917,1499,X002,NaN,1363 FULTON AVENUE CONSOLIDATED LOCATION,NaN,1363 FULTON AVENUE,X,9,688.0,1363 FULTON AVENUE CONSOLIDATED LOCATION,...,1.13,2.41,0.66,0.57,POINT (-73.902403 40.833741),10934,34.0,5.0,42.0,25.0
1918,1364,Q490,NaN,207-01 116 AVENUE CONSOLIDATED LOCATION,NaN,207-01 116 AVENUE,Q,29,1319.0,207-01 116 AVENUE CONSOLIDATED LOCATION,...,2.79,6.71,1.48,1.47,POINT (-73.745876 40.697771),15311,63.0,3.0,6.0,63.0

In [301]:
# how to deal with non-join?
# split or imputation
# join = pd.merge(esl, schoolsurvey[["DBN", 'Total Teacher Response Rate (%)', 'Total Parent Response Rate (%)', 'Total Academic Expectations Score', 'Total Communication Score','Total Engagement Score', 'Total Safety and Respect Score']], how='inner', left_on = 'DBN', right_on = 'DBN')
# join = pd.merge(join, tsratio[["DBN", 'School Pupil-Teacher Ratio']], how='inner', left_on = 'DBN', right_on = 'DBN')
join = pd.merge(join, spy, how='inner', left_on = 'Year', right_on = 'Year ')
join

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,...,School Pupil-Teacher Ratio,exptsratio,sqtsratio,Year,Average Closing Price,Year Open,Year High,Year Low,Year Close,Annual % Change
0,01M015,3,2006,All Students,37,651.0,4.0,10.8,14.0,37.8,...,9.245573,6.070085e+02,85.480620,2006,1310.46,1268.80,1427.09,1223.69,1418.3,13.62%
1,01M015,4,2006,All Students,46,621.0,18.0,39.1,20.0,43.5,...,9.245573,6.070085e+02,85.480620,2006,1310.46,1268.80,1427.09,1223.69,1418.3,13.62%
2,01M015,5,2006,All Students,28,625.0,8.0,28.6,13.0,46.4,...,9.245573,6.070085e+02,85.480620,2006,1310.46,1268.80,1427.09,1223.69,1418.3,13.62%
3,01M015,6,2006,All Students,36,639.0,2.0,5.6,18.0,50.0,...,9.245573,6.070085e+02,85.480620,2006,1310.46,1268.80,1427.09,1223.69,1418.3,13.62%
4,01M019,3,2006,All Students,56,654.0,7.0,12.5,17.0,30.4,...,6.971557,1.255012e+02,48.602607,2006,1310.46,1268.80,1427.09,1223.69,1418.3,13.62%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20988,32K384,All Grades,2011,All Students,390,659.0,55.0,14.1,188.0,48.2,...,14.635000,2.544333e+04,214.183225,2011,1267.64,1271.87,1363.61,1099.23,1257.6,0.00%
20989,32K554,6,2011,All Students,30,671.0,0.0,0.0,3.0,10.0,...,22.411760,5.579715e+06,502.286986,2011,1267.64,1271.87,1363.61,1099.23,1257.6,0.00%
20990,32K554,7,2011,All Students,30,675.0,0.0,0.0,3.0,10.0,...,22.411760,5.579715e+06,502.286986,2011,1267.64,1271.87,1363.61,1099.23,1257.6,0.00%
20991,32K554,8,2011,All Students,35,658.0,0.0,0.0,16.0,45.7,...,22.411760,5.579715e+06,502.286986,2011,1267.64,1271.87,1363.61,1099.23,1257.6,0.00%
20992,32K554,All Grades,2011,All Students,95,667.0,0.0,0.0,22.0,23.2,...,22.411760,5.579715e+06,502.286986,2011,1267.64,1271.87,1363.61,1099.23,1257.6,0.00%

In [426]:
join

,Year,Average Closing Price,Year Open,Year High,Year Low,Year Close,Annual % Change,DBN,Grade,Mean Scale Score_x,...,Level1_N,Level1_%,Level2_N,Level2_%,Level3_N,Level3_%,Level4_N,Level4_%,Level3+4_N,Level3+4_%
0,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,3,645.833333,...,4,30.8,4,30.8,3,23.1,2,15.4,5,38.5
1,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,3,645.833333,...,6,42.9,4,28.6,4,28.6,0,0.0,4,28.6
2,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,4,641.000000,...,0,0.0,8,57.1,6,42.9,0,0.0,6,42.9
3,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,4,641.000000,...,1,11.1,4,44.4,3,33.3,1,11.1,4,44.4
4,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%,01M015,5,645.833333,...,1,16.7,3,50.0,2,33.3,0,0.0,2,33.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43892,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,7,662.833333,...,2,7.7,10,38.5,13,50.0,1,3.8,14,53.8
43893,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,8,655.000000,...,1,6.3,3,18.8,9,56.3,3,18.8,12,75.0
43894,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,8,655.000000,...,3,15.8,9,47.4,4,21.1,3,15.8,7,36.8
43895,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,All Grades,667.000000,...,3,3.3,40,44.4,36,40.0,11,12.2,47,52.2
43896,2013,1643.80,1462.42,1848.36,1457.15,1848.36,29.60%,32K554,All Grades,667.000000,...,8,12.3,27,41.5,24,36.9,6,9.2,30,46.2

In [325]:
join.to_csv("join.csv", index=False)

In [315]:
# join["sqteacher"] = np.square(join['Total Teacher Response Rate (%)'])
join["sqsafe"] = np.square(join['Total Safety and Respect Score'])
join["exptsratio"] = np.exp2(join['School Pupil-Teacher Ratio'])
join["sqtsratio"] = np.square(join['School Pupil-Teacher Ratio'])
join["sqavgclose"] = np.square(join['Average Closing Price '])
join["random"] =  np.random.randint(1, 6, join.shape[0])

In [357]:
%%time
lm = LinearRegression()
scores = cross_val_score(lm, join[['Average Closing Price ', 'Year Open ', 'Year High ', 'Year Low ','School Pupil-Teacher Ratio','Total Teacher Response Rate (%)', 'Total Parent Response Rate (%)', 'Total Academic Expectations Score', 'Total Communication Score','Total Engagement Score', 'Total Safety and Respect Score','Year', "Level 1 %","Level 2 %","Level 3 %","Level 4 %"]], join[["sqy"]], scoring='r2', cv=ShuffleSplit(n_splits=5, random_state=1))
print(scores)
sum(scores)/len(scores)

[0.9094502  0.89765982 0.89667248 0.90733603 0.90509147]
CPU times: user 224 ms, sys: 152 ms, total: 376 ms
Wall time: 107 ms

0.9032419995991618

In [377]:
join

,DBN,Grade,Mean Scale Score_x,School Name,Year,Category,Number Tested,Mean Scale Score_y,Level1_N,Level1_%,Level2_N,Level2_%,Level3_N,Level3_%,Level4_N,Level4_%,Level3+4_N,Level3+4_%
0,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2013,Female,12,285,7,58.3,5,41.7,0,0.0,0,0.0,0,0.0
1,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2013,Male,15,292,7,46.7,6,40.0,2,13.3,0,0.0,2,13.3
2,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2014,Female,13,s,s,s,s,s,s,s,s,s,s,s
3,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2014,Male,5,s,s,s,s,s,s,s,s,s,s,s
4,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2015,Female,7,289,3,42.9,3,42.9,1,14.3,0,0.0,1,14.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44318,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2015,Male,69,317,5,7.2,24,34.8,31,44.9,9,13.0,40,58.0
44319,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2016,Female,109,337,0,0.0,11,10.1,49,45.0,49,45.0,98,89.9
44320,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2016,Male,70,330,0,0.0,15,21.4,30,42.9,25,35.7,55,78.6
44321,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2017,Female,109,343,0,0.0,6,5.5,39,35.8,64,58.7,103,94.5
44322,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2017,Male,70,332,0,0.0,10,14.3,38,54.3,22,31.4,60,85.7

In [410]:
from sklearn.metrics import r2_score
reg = LinearRegression().fit(join[["Mean Scale Score_x"]], join[["Mean Scale Score_y"]])
r2_score(, ))

0.5591525478863841

In [440]:
np.square(join[["Mean Scale Score_y"]]).sum()

Mean Scale Score_y    3.954534e+09
dtype: float64

In [431]:
print(reg.coef_)

reg.intercept_

[[1.03235922]]

array([-381.68185733])

In [191]:
esl1 = esl[esl["Grade"]!= "All Grades"]

In [279]:
join[["Mean Scale Score","Year"]].groupby("Year").mean()

      Mean Scale Score
Year
2006        650.051497
2007        651.344987
2008        655.109410
2009        661.488624
2010        661.590661
2011        660.321000

In [350]:
import autosklearn.regression
automl = autosklearn.regression.AutoSklearnRegressor(
    time_left_for_this_task=120,
    per_run_time_limit=30,
    tmp_folder='./tmp/autosklearn_regression_example_tmp',
)
automl.fit( join[['Average Closing Price ', 'Year Open ', 'Year High ', 'Year Low ','School Pupil-Teacher Ratio','Total Teacher Response Rate (%)', 'Total Parent Response Rate (%)', 'Total Academic Expectations Score', 'Total Communication Score','Total Engagement Score', 'Total Safety and Respect Score','Year', "Level 1 %","Level 2 %","Level 3 %","Level 4 %"]], join[["sqy"]], dataset_name='join')

AutoSklearnRegressor(per_run_time_limit=30, time_left_for_this_task=120,
                     tmp_folder='./tmp/autosklearn_regression_example_tmp')

In [351]:
print(automl.leaderboard())

          rank  ensemble_weight               type      cost  duration
model_id
5            1             0.56  gradient_boosting  0.052904  6.765645
4            2             0.44     ard_regression  0.054501  6.789669

In [346]:
%%time
lm = LinearRegression()
scores = cross_val_score(lm, esl1[["Level 1 %","Level 2 %","Level 3 %","Level 4 %"]], esl1[["sqy"]], scoring='r2', cv=ShuffleSplit(n_splits=5, random_state=0))
print(scores)
sum(scores)/len(scores)

[0.74532466 0.76444906 0.76826288 0.74704539 0.76517784]
CPU times: user 40.2 ms, sys: 3.87 ms, total: 44.1 ms
Wall time: 41.4 ms

0.7580519676363692

In [376]:
join

,DBN,Grade,Mean Scale Score_x,School Name,Year,Category,Number Tested,Mean Scale Score_y,Level1_N,Level1_%,Level2_N,Level2_%,Level3_N,Level3_%,Level4_N,Level4_%,Level3+4_N,Level3+4_%
0,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2013,Female,12,285,7,58.3,5,41.7,0,0.0,0,0.0,0,0.0
1,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2013,Male,15,292,7,46.7,6,40.0,2,13.3,0,0.0,2,13.3
2,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2014,Female,13,s,s,s,s,s,s,s,s,s,s,s
3,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2014,Male,5,s,s,s,s,s,s,s,s,s,s,s
4,01M015,3,645.833333,PS 015 ROBERTO CLEMENTE,2015,Female,7,289,3,42.9,3,42.9,1,14.3,0,0.0,1,14.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44318,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2015,Male,69,317,5,7.2,24,34.8,31,44.9,9,13.0,40,58.0
44319,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2016,Female,109,337,0,0.0,11,10.1,49,45.0,49,45.0,98,89.9
44320,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2016,Male,70,330,0,0.0,15,21.4,30,42.9,25,35.7,55,78.6
44321,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2017,Female,109,343,0,0.0,6,5.5,39,35.8,64,58.7,103,94.5
44322,32K554,All Grades,667.000000,ALL CITY LEADERSHIP SECONDARY SCHOOL,2017,Male,70,332,0,0.0,10,14.3,38,54.3,22,31.4,60,85.7

0.7580519676363692

In [69]:
Attribute transform.
Greedily search for next attribute.
Split or impute missing values? 
For seller data, missing value vs missing records. Missing value is fine. records need to split.
Detect missing value with large count?

For time series, predict future. Should also show when each row is available. Don't use stock price to predict revenue.

NameError: name 'metrics' is not defined