In [1]:
import math
from datamarket import *

In [3]:
vals_gauss = [np.random.normal(loc=0, scale=0.01) for x in range(100000)]

In [23]:
eps = 5
delta = 0.05

In [24]:
noise = (2*math.log(1.25/delta) * 3)**0.5/eps
noise

0.8789369704184529

In [250]:
pro = pd.read_csv("Schools_Progress_Report_2012-2013.csv")
prodata = agg_dataset()
prodata.load_seller(pro, ["DBN"], "pro",False)
prodata.compute_agg(True)

In [31]:
# read seller dataset and split into train/test
gender = pd.read_csv("gender.csv")
gender_test = agg_dataset()
gender_test.load_buyer(gender, ["Number Tested"], "Mean Scale Score", ["DBN"], "gender")
gender_test.compute_agg()

/home/jupyter/arda/arda-datasets/school/datamarket.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data[att] = pd.to_numeric(self.data[att],errors="coerce")

In [226]:
np.random.normal(loc=0, scale=noise)

-0.4734935995193065

In [155]:
esl = pd.read_csv("esl.csv")
esl

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,37,651.0,4.0,10.8,14.0,37.8,19.0,51.4,0.0,0.0,19.0,51.4
1,01M015,4,2006,All Students,46,621.0,18.0,39.1,20.0,43.5,7.0,15.2,1.0,2.2,8.0,17.4
2,01M015,5,2006,All Students,28,625.0,8.0,28.6,13.0,46.4,7.0,25.0,0.0,0.0,7.0,25.0
3,01M015,6,2006,All Students,36,639.0,2.0,5.6,18.0,50.0,15.0,41.7,1.0,2.8,16.0,44.4
4,01M015,All Grades,2006,All Students,147,NaN,32.0,21.8,65.0,44.2,48.0,32.7,2.0,1.4,50.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,75X723,5,2011,All Students,55,634.0,40.0,72.7,13.0,23.6,2.0,3.6,0.0,0.0,2.0,3.6
28461,75X723,6,2011,All Students,54,623.0,44.0,81.5,10.0,18.5,0.0,0.0,0.0,0.0,0.0,0.0
28462,75X723,7,2011,All Students,28,613.0,21.0,75.0,7.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
28463,75X723,8,2011,All Students,32,587.0,27.0,84.4,5.0,15.6,0.0,0.0,0.0,0.0,0.0,0.0
28464,75X723,All Grades,2011,All Students,226,621.0,171.0,75.7,46.0,20.4,9.0,4.0,0.0,0.0,9.0,4.0

In [32]:
esl= pd.read_csv("esl.csv")
esl  = esl[["DBN", "Mean Scale Score", "Level 3 %", "Level 4 %"]]
esldata = agg_dataset()
esldata.load_seller(esl, ["DBN"], "esl",False)

# number of attributes
m = len(esldata.X)
Xrange = esldata.data[esldata.X].max()-esldata.data[esldata.X].min()
# esldata.data[esldata.X] = (esldata.data[esldata.X] - esldata.data[esldata.X].min() - Xrange/2)/(Xrange/2) 
esldata.data[esldata.X] = (esldata.data[esldata.X] - esldata.data[esldata.X].min() - Xrange/2)/(Xrange/2 * (m)**0.5)

In [18]:
esldata.data

       Mean Scale Score  Level 3 %  Level 4 %     DBN
0              0.071425   0.016166  -0.577350  01M015
1             -0.107137  -0.401836  -0.547287  01M015
2             -0.083329  -0.288675  -0.577350  01M015
3              0.000000  -0.095840  -0.539088  01M015
4              0.105911  -0.199763  -0.558219  01M015
...                 ...        ...        ...     ...
28460         -0.029760  -0.535781  -0.577350  75X723
28461         -0.095233  -0.577350  -0.577350  75X723
28462         -0.154754  -0.577350  -0.577350  75X723
28463         -0.309507  -0.577350  -0.577350  75X723
28464         -0.107137  -0.531162  -0.577350  75X723

[28465 rows x 4 columns]

In [5]:
square_sum = None
for i in range(len(esldata.X)):
    col = esldata.X[i]
    if i == 0:
        square_sum = np.square(esldata.data[col])
    else:    
        square_sum += np.square(esldata.data[col])

In [9]:
square_sum.argmax(axis=0)

28290

In [33]:
esldata.compute_agg(False)

In [21]:
old_agg = esldata.agg_dimensions["DBN"]
old_agg

,cov:s:esl:Mean Scale Score,cov:s:esl:Level 3 %,cov:s:esl:Level 4 %,cov:c,"cov:Q:esl:Mean Scale Score,esl:Mean Scale Score","cov:Q:esl:Mean Scale Score,esl:Level 3 %","cov:Q:esl:Mean Scale Score,esl:Level 4 %","cov:Q:esl:Level 3 %,esl:Level 3 %","cov:Q:esl:Level 3 %,esl:Level 4 %","cov:Q:esl:Level 4 %,esl:Level 4 %"
DBN,,,,,,,,,,
01M015,1.178331,-5.719232,-14.220581,25,0.155175,-0.236933,-0.669936,1.948087,3.229782,8.095459
01M019,2.927012,0.709942,-14.127905,26,0.374562,0.112989,-1.568538,0.628777,-0.347463,7.718204
01M020,3.350834,1.706647,-12.955193,25,0.476818,0.249860,-1.722840,0.894256,-0.918332,6.758819
01M034,2.844909,-5.078373,-23.342715,42,0.395229,0.005047,-1.544715,2.002109,2.951342,13.031743
01M063,2.725868,-0.570422,-13.197066,25,0.358952,-0.025543,-1.419626,0.659133,0.260197,7.009413
...,...,...,...,...,...,...,...,...,...,...
75X186,-8.690192,-21.786890,-24.248711,42,3.184544,4.663882,5.017285,11.528056,12.578667,14.000000
75X188,-3.459731,-16.290553,-23.793777,42,1.274521,2.019469,2.035028,7.754495,9.373089,13.504937
75X352,-4.730843,-17.768532,-20.207259,35,1.504181,2.430716,2.731354,9.171504,10.258667,11.666667
75X721,1.776504,-4.981293,-13.241571,25,0.384058,-0.024543,-0.899399,2.487455,2.835792,7.040322
75X723,-7.952136,-21.007467,-24.248711,42,2.815749,4.137445,4.591168,10.793612,12.128667,14.000000

In [25]:
for col in esldata.agg_dimensions["DBN"].columns:
    esldata.agg_dimensions["DBN"][col] += np.random.normal(0, noise, len(esldata.agg_dimensions["DBN"]))

In [34]:
esldata.agg_dimensions["DBN"] = normalize(esldata.agg_dimensions["DBN"])

In [27]:
esldata.agg_dimensions["DBN"].sum()

cov:s:esl:Mean Scale Score                          127.487160
cov:s:esl:Level 3 %                                 -38.370179
cov:s:esl:Level 4 %                                -579.469839
cov:c                                              1132.000000
cov:Q:esl:Mean Scale Score,esl:Mean Scale Score      28.489630
cov:Q:esl:Mean Scale Score,esl:Level 3 %              9.947234
cov:Q:esl:Mean Scale Score,esl:Level 4 %            -60.813633
cov:Q:esl:Level 3 %,esl:Level 3 %                    60.589542
cov:Q:esl:Level 3 %,esl:Level 4 %                    26.963675
cov:Q:esl:Level 4 %,esl:Level 4 %                   301.026538
dtype: float64

In [35]:
# before error
esldata.agg_dimensions["DBN"].sum()

cov:s:esl:Mean Scale Score                          122.998954
cov:s:esl:Level 3 %                                 -39.255415
cov:s:esl:Level 4 %                                -575.270726
cov:c                                              1132.000000
cov:Q:esl:Mean Scale Score,esl:Mean Scale Score      23.418303
cov:Q:esl:Mean Scale Score,esl:Level 3 %             10.582958
cov:Q:esl:Mean Scale Score,esl:Level 4 %            -55.827370
cov:Q:esl:Level 3 %,esl:Level 3 %                    58.072991
cov:Q:esl:Level 3 %,esl:Level 4 %                    29.324907
cov:Q:esl:Level 4 %,esl:Level 4 %                   303.566921
dtype: float64

In [363]:
esldata.X

['esl:Mean Scale Score', 'esl:Level 3 %', 'esl:Level 4 %']

In [36]:
join_test = connect(gender_test, esldata, "DBN")
# join_train_cov = join_train.sum()
join_test_cov = join_test.sum()
parameter = linear_regression(join_test_cov,['gender:Number Tested','esl:Mean Scale Score', 'esl:Level 3 %', 'esl:Level 4 %'], 'gender:Mean Scale Score')
cur_r2 = r2(join_test_cov, ['gender:Number Tested','esl:Mean Scale Score', 'esl:Level 3 %', 'esl:Level 4 %'], 'gender:Mean Scale Score', parameter)

In [29]:
print(parameter)
print(cur_r2)

[1.53453952e-03 1.40790726e+00 2.08428247e+01 1.90371848e+02
 3.95939342e+02]
0.6932298534454183

In [37]:
# before noise
print(parameter)
print(cur_r2)

[1.02932649e-02 3.32323075e+01 2.53981087e+01 6.18964231e+01
 3.26212230e+02]
0.42302878046573644

In [ ]:
How to normalize? Throw away outlier?

Throw away feature that is to diverse across groups.

How to deal with inconsistency? Postprocess? a^2 + b^2 > 2ab
Arithmetic mean-geometric mean [AM-GM] inequality

How to deal with count?
How to fuzzy join? Postprocess.